
<ion-header translucent>
  <ion-toolbar color='primary'>
    <ion-title>Search for Surgeons</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
 <!-- Default Searchbar -->
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>


<ion-list>


  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label>Amsterdam</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label>Amsterdam</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label>Amsterdam</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label>Amsterdam</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label>Amsterdam</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label>Amsterdam</ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
    <ion-label>Amsterdam</ion-label>
  </ion-item>

</ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button type="button" expand="block">Cancel</ion-button>
    </ion-col>
    <ion-col>
      <ion-button  type="button" expand="block">Add Surgeon</ion-button>
    </ion-col>
  </ion-row>
  </ion-footer>
