
<div class="changeUserSettingsDiv">
  <form>
    <ion-item>
      <ion-label position="floating">Passsword validity</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Session duration</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>




      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Change Personal Options</ion-button>
        </ion-col>
      </ion-row>



  </form>

</div>


